[2019-02-03 19:43] hershaw opened #1 "Gender Equality Initiative"
Hi All!

[First things first! Here is the proposal](https://docs.google.com/document/d/1TmltrjS6Dts8qF8EuyVoCZHLrGr8mJTQsyL2RxkfDxE/edit?usp=sharing)

As we know, we've talked quite a bit about the gender inequality present in the student population of the Academy so we are going to address it with the attached proposal. Trigger warning, there is a quota mechanism in there. However, please do take

[2019-02-03 19:47] hershaw opened #2 "The LDSA Parent Organization Charter"
[Here is the charter.](https://docs.google.com/document/d/1EDQF8lFZA0DYKhru57rxLI4d7s3ReiN90BFdjTHtP-Q/edit?usp=sharing)

We are taking the step of logically splitting up the organization so that there are two main entities. In the short term it won't make much practical difference but we hope that this positions us to have some more options in what we do in the coming batches.

Note that this cha

[2019-02-03 19:49] hershaw opened #3 "Starters Academy Charter"
[Here is the charter.](https://docs.google.com/document/d/1kQSYyhxYkYIxTXOb2PbQF8qZfGikFzy_nypathWPJ5E/edit?usp=sharing)

Since the parent organization enables charters to be written for courses, we will use our first course which is the Starters Academy that we all know and love as the first one.

The parent organization charter is [here](https://docs.google.com/document/d/1EDQF8lFZA0DYKhru57rxLI

[2019-02-03 20:20] Rasmnev commented on #1
Before I give an opinion on this I would like to know how much of a difference would this have made if it had been implemented in batch 2?

[2019-02-04 10:36] manuelfcreis commented on #1
Hey everyone,

While I do believe quotas can be an important measure to ensure equality I do believe the theoretical goal should be not to have a quota and have organic growth in equality and to achieve that some other measures are necessary.

I would say this initiative should be a bit more fleshed out in order to increase interest before the quota is needed. I'm not sure what the current marketi

[2019-02-04 10:44] manuelfcreis commented on #2
@hershaw I think it's great as it is, I just have the following comments:

1. I feel like it's missing a **Vision** for the Academy

2. > Excellence does not mean exclusive and the creation of a community isn’t limited to Data Science

    I think this is a great point and extremely important to generate a great community.

3. > Since assembly membership includes the right to vote

    Are all vot

[2019-02-04 14:04] Rasmnev commented on #1
I am by principle against any type of quota system. I think quotas are unfair, condescending and discriminatory in themselves and I cannot in good conscious support this type of measure. If you feel like the selection process/marketing is discriminatory in any sense we should definitely correct that, but I don't think discriminating against men is the way to go in order to correct discrimination a

[2019-02-04 16:58] rafaascensao commented on #1
Following @manuelfcreis comment, there are some coding workshops targeted to women here in Portugal (e.g. https://shecodes.io/). Maybe we can promote the academy in these type of events to get a bit more reach in this demographic.

[2019-02-05 16:32] CatarinaSilva commented on #1
While I typically dislike quotas, I think having this goal (and having the purpose of achieving it without forcing a quota) is very nice. I definitely agree with trying to tackle it through finding better channels to get to prospective candidates, and in this context I can suggest a few things that I might actually be able to help with:

- asking to Women in Tech to spread the word  (I know some p

[2019-02-11 07:26] hershaw commented on #2
Great feedback @manuelfcreis thanks for taking the time.

1. Honest question for you: What is the difference between a mission and a vision and what is missing that a vision would cover? I always struggle with this part so if you feel like something is missing, I would really like to hear about it.

3. Yes, all votes are equal, very much a good thing to be explicit about, thanks for catching it.

[2019-02-11 08:16] hershaw commented on #1
Hi all,

Thanks for the thoughts on the matter and taking the time to write them down. Firstly, I would like to reiterate once more that **I would consider the initiative a failure if we end up having to use the quota. All energies and strategies will be put into achieving 30% without the use of the quota.**

I'll group the responses and respond as best as I can to them but first

## It is unfair

[2019-02-11 09:54] manuelfcreis commented on #2
For me the main difference is between an aspirational statement and a pragmatic one. While the mission is the objective and how to reach the objective the vision, in my opinion, is more about the underlying values and what we are aiming for with our mission.

*I don't feel like it's essential to have a vision, but I tend to like explicit visions as they can make a more cohesive team*

I guess what

[2019-02-12 07:32] hershaw commented on #3
This is a test, will it generate a notification?

[2019-02-12 07:34] hershaw commented on #2
Man this is really good. no reason to leave the underlying reason for the community without a definition.

[2019-02-12 08:48] hershaw opened #4 "AOR Lead positions to be filled"
On [this spreadsheet](https://docs.google.com/spreadsheets/d/1J40KycBTqoSra2o8jG2bzOYpfeYMswPvD73O8hzh7G0/edit#gid=559554334) we have a list of [Areas of Responsibility](https://github.com/LDSSA/wiki/wiki/LDSA-Areas-of-Responsibility) that need to be filled.

If anyone is interested in any of them, DM me!

If you know anyone that is interested in any of them, send them to me! They only ask is that

[2019-02-12 08:55] hershaw opened #5 "Nominate Elected Officials"
In [this spreadsheet](https://docs.google.com/spreadsheets/d/1J40KycBTqoSra2o8jG2bzOYpfeYMswPvD73O8hzh7G0/edit#gid=0) we have a list of positions that need to be filled for our legal entity to exist. Any place that it says TBD means that we still need to fill it up.

The position of Tesoureiro is a time intensive one and has the most legal responsibility. It's a bit of a delicate job taking care o

[2019-02-12 23:53] PedroGFonseca commented on #1
I think Sam has made the case very close to perfection.

A) Statements I believe most people can agree with:

B) More statements I expect most people would agree with:

C) Statements that are more contentious:

On a personal level, having observed two full Academies by now, I am strongly convinced that having a quota backstop (i.e. an admittedly undesirable but _less-of-both-evils_ provision that

[2019-02-20 22:28] hershaw opened #6 "Batch 3 Dates"
## Proposal

Everything below is a proposal and will be finalized by Friday the 22nd of February at the very latest.

## Most Important Dates

- Saturday, May 4th Wave 1 applications open
- Saturday July 6th the bootcamp will start

## More details

### Applications

The application process and dates are as follows:

1. May 4th, 09 AM (Saturday):
    - First wave of applications starts and you rec

[2019-02-27 19:04] PedroGFonseca opened #7 "Should the instructor forum get deleted?"
We have [this](https://github.com/LDSSA/instructors-forum/issues?q=is%3Aissue+is%3Aclosed) which may be a duplication

[2019-02-27 21:49] PedroGFonseca opened #8 "Website broken on curriculum link"
When we click on the image in [curriculum](http://www.lisbondatascience.org/curriculum/), we end up on a broken link.

[2019-02-27 21:50] PedroGFonseca commented on #8
I can fix this one, just wanted to have this bug noted somewhere. Wrong place?

[2019-02-27 22:11] hershaw commented on #8
Okay to be here right now, soon we should create another repo to take care of it.

BTW I think I've found someone to take the communications AOR with managing the website being part of it.

[2019-02-27 22:13] hershaw commented on #7
Will archive this one. Good catch. We'll need to create some more repos for more specific topics in the near future.

[2019-02-27 22:13] #7 closed, assigned to nobody

[2019-03-02 18:48] PedroGFonseca opened #9 "Gender balance initiative: what actions should we be taking now?"
We’re launching the new Academy, and in order to [avoid the quotas](https://docs.google.com/document/d/1TmltrjS6Dts8qF8EuyVoCZHLrGr8mJTQsyL2RxkfDxE/edit) must now be clever about how we organically balance the applications.

I’ve done a couple of super basic things: reached out to some of the meetups and asked to speak at the end (especially women in tech, etc), and asked specifically for people t

[2019-03-02 18:48] PedroGFonseca commented on #1
What happens now?

[2019-03-02 18:49] PedroGFonseca commented on #8
Sweet, who is it? The Unbounce account is still mine, so I'll have to share account details with her/him

[2019-03-02 18:53] PedroGFonseca commented on #9
Ideas:

a) launching an event of the Python meetup and/or Lisbon Data Science Meetup. This would have to have at least 50% women (or defeats the purpose), I believe we can do that by controlling the queues.

b) targeting a Google Ads campaign as women who know python. Not sure how much this would cost.

c) asking startup Lx to communicate the Academy in the newsletter, targeting the message specif

[2019-03-03 11:01] carol-Martins commented on #9
Those are great ideas!

We (#marketing) had the idea for segmenting the mailing list + direct FB Ads for Women.

To achieve the quota - for the first wave - we have done the math to how many women we need on the mailing list. I need to check and I’ll write it here ASAP.

[2019-03-03 15:47] hershaw commented on #1
I'll go ahead and mark this closed and we can move to the other issue that you've opened about what to do about it next.

[2019-03-03 15:47] #1 closed, assigned to hershaw

[2019-03-03 15:50] hershaw commented on #4
Just a quick update, we've got all the positions filled except for one! Now that the positions are filled, we can focus on the fun part: making shit happen!

I'll be in touch with each of the primary enablers for each AOR to make up a document and schedule a meeting to get our tasks set.

Really excited about how the team is shaping up! We should all be super proud!

[2019-03-03 17:17] hershaw commented on #8
I've made an intro to them on slack :)

[2019-03-04 17:50] adleite commented on #9
Great work Pedro, should we make a campaign (some facebook posts) where we advertise the success of women that are linked to LDSA?

[2019-03-04 17:54] PedroGFonseca commented on #9
All for it, the issue is that whenever we post on facebook / linkedin etc we reach a lot more dudes than dudettes, so it is not a great way to undo the balance. But promoting women in the Academy context is always a good idea.

[2019-03-04 20:29] carol-Martins commented on #9
Jose Medeiros is working on proposing a fb/IG Ads campaign target to women. We do believe that it’s important.

Here is the data/insights we’ve gathered from the previous batch to achieve the quota:

If we want 50 students on the first wave, considering that all of them convert from the subscribers list we need (with the same behavior of batch 2 as Jose+me researched) we would need an additional o

[2019-03-06 18:01] PedroGFonseca commented on #6
Seems tight, but doable. Would be curious to see the opinion of more peeps on this one.

[2019-03-06 20:15] PedroGFonseca opened #10 "Teaching Philosophy"
I'd like to formalize this for the year. Comments very welcome!

[Teaching Philosophy](https://github.com/LDSSA/wiki/wiki/Teaching-Philosophy)

[2019-03-07 09:24] manuelfcreis commented on #6
I feel like it's a good starting date, my only issue with it would be the final months which need some considerations.

Starting in July the final project would end up in December / January which is a particularly tricky time for a lot of people because of Xmas and School exams.

[2019-03-07 09:28] dominguezmaria commented on #6
The idea was to give students December free and have the capstone project during January, so in the end the academy would last 7 months instead of 6.
@hershaw do we have this info somewhere?

[2019-03-07 09:33] hershaw commented on #6
Yeah it was supposed to provide some flexibility. It's about one month of work and so allowing students 2 months to do it was supposed to help them plan around it since they are busy months.

That way if you are a student, then you can do most of the work in december and leave january to focus. Or if you would prefer to take december off and do just family stuff you can do so. Or if you are busy w

[2019-03-07 09:53] manuelfcreis commented on #10
Seems great @PedroGFonseca

I would only add what I feel was one of the great aspects of the academy, the process oriented approach. By deconstructing what is complicated into logical steps (EDA -> Modelling -> ...) The academy gave a practical and effective approach to handle issues either academically or professionally.

I really felt that the practical world of Data Science was never far from w

[2019-03-07 10:30] PedroGFonseca commented on #10
@manuelfcreis makes perfect sense to me. To recap, the action items would be:

- [x] link up a prototype of a knowledge graph (we have [this one to show](https://docs.google.com/presentation/d/e/2PACX-1vSfbGq6yAa0YpBcQyAXjUvb9M7D4wuB33Tsb-6B9LFXXUI7jKBOieXrHNpAiJ5PQNLVLEIQJdruV2KU/pub?start=false&loop=false&delayms=3000&slide=id.g4cd686a742_0_490))
- [x] Add a part about the deconstruction into lo

[2019-03-08 10:22] hershaw opened #11 "Additional guidelines for job posting approval"
Pedro had the excellent idea of adding some more required context for job postings:

- How will the projects I work on align to business goals?
- Who will I be working with, and who would I report to?
- How is success measured in this role?
- What is the nature of the data I'll be managing?
- How does the data science team collaborate with other departments?
- How is data collected at your company

[2019-03-09 17:30] PedroGFonseca commented on #11
I'm obviously pro these ideas, but would also suggest someone do some further research on posts about what questions to ask (this was a 5 minute thing).

[2019-03-09 18:02] PedroGFonseca commented on #10
Note: Did all of the above, @manuelfcreis let me know if any further changes are required.

[2019-03-09 18:18] PedroGFonseca commented on #9
Turned this into a Trello Board: https://trello.com/b/3RpihgI0/gender-equality-initiative

Please comment on each card to work on them. LET'S DO THIS THAING!

[2019-03-09 18:18] #9 closed, assigned to nobody

[2019-03-09 18:48] PedroGFonseca opened #12 "Where to work on what"
A bit of a meta-question: can we have a chapter in the wiki about how we organize our own work, and what should go on Slack, GitHub or Trello?

I kind of know where everything is, but for n00bs this may be quite an intimidating prospect.

[2019-03-09 19:41] PedroGFonseca opened #13 "Who do we accept as instructors?"
We have had someone apply to be an instructor, who is only in Portugal for a few months. This has lead to the question of what criteria is needed to teach.

We currently have a [How to Recruit Instructors](https://github.com/LDSSA/wiki/wiki/Recruiting-and-Onboarding-New-Instructors) section, which assumed that every applicant already comes in with an instructors as a sponsor.

Beyond what is discu

[2019-03-09 21:00] carol-Martins commented on #9
Hey Pedro,

I don’t have permission to see the board.

Enviado do meu iPhone

No dia 09/03/2019, às 18:18, Pedro Fonseca <notifications@github.com> escreveu:

[2019-03-10 00:12] PedroGFonseca commented on #9
@carol-Martins that's odd, it belongs to the LDSA org, are you logged in?

[2019-03-10 08:57] hershaw commented on #13
It wasn't clear from the article but the only way to come in is via a recommendation from an instructor. That means that if someone cold-calls us and asks to volunteer, an instructor must take the time to assess them and then feel comfortable with putting their name next to a sponsorship for them.

So I think that what needs to happen is that when someone new cold-calls us, there needs to be one e

[2019-03-10 11:55] dominguezmaria commented on #13
@hershaw, you're answering this question _"How does someone who does not know us personally yet manage to become an instructor? (and do they at all)"_, and I agree with you.
Makes sense that one of us takes the time to get to know the person better, eventually sponsor them, and this way we can onboard people who we don't already know.

Regarding the other two questions:
-  _"Can someone who is not

[2019-03-10 13:27] PedroGFonseca commented on #13
Agreed with both on all points (that was easy).

[2019-03-10 14:24] hershaw commented on #13
Going to reopen this until the appropriate documentation is updated in an attempt to make sure that the decisions make their way to some place useful 😄

[2019-03-11 17:30] PedroGFonseca opened #14 "Should job posts be allowed by companies we do not know?"
I was wondering about our [Guidelines for job posting](https://github.com/LDSSA/wiki/wiki/Job-Posting-Approval-%5BWIP%5D#ldsa-job-advertisement).

Every once in a while a company will reach out with job opportunities. I can't vouch for the company, but would still be interested in listing it, without implicitly vouching for it.

I would suggest (in addition to having the [questionnaire](https://gi

[2019-03-12 12:01] minhhoang1023 opened #15 "LDSSA Prep Course"
After the two previous batches of LDSSA, we identified the importance of a preparation course (Prep course) for the Starter Academy, and therefore decided to launch it this time around. The Prep course aims to equip students with the required knowledge for the exam and for the Academy itself.

**Why:**

- Even though we require no prior knowledge in Data Science, Python still represents a barrier

[2019-03-12 13:40] PedroGFonseca commented on #15
100% for it, and available to help with anything I can :)

[2019-03-12 16:21] dominguezmaria commented on #13
Guys, so I suggest the process to recruit "unknown people" as volunteers to be the following.
If you're ok with this, I'll just copy and paste the paragraph below to the [Recruiting and Onboarding New Instructors](https://github.com/LDSSA/wiki/wiki/Recruiting-and-Onboarding-New-Instructors) document, after the "Quick chat with Sam and Ascensão", and close this issue.

**Someone approached us offer

[2019-03-13 11:05] PedroGFonseca commented on #13
One tricky thing is managing levels of commitment. How can we tell if they will be interested while things are fun and new, and then disappear at critical moments?

[2019-03-13 11:18] dominguezmaria commented on #13
We don't have a way to tell that. But I guess that the problem also happens when someone already knows the candidate from before... It's a problem that exists for everybody who wants to join the academy.
So I'd say we need to trust them, and believe them if they say that they want to participate with a high level of commitment. The important part is that they understand that everything that one sa

[2019-03-13 13:20] PedroGFonseca commented on #13
True. I think part of the interview should be to say exactly what you just said 😅

[2019-03-13 13:38] dominguezmaria commented on #13
Nice, I've added those thoughts to the interview description!
Do you think it's good to go this way @PedroGFonseca ?

@hershaw , are you comfortable with me adding these guidelines to the recruitment doc and closing this issue?

💪

[2019-03-14 14:30] hershaw commented on #13
All sounds good, we can definitely consider this one closed. However I'd like to raise a few things that we should keep an eye on:

1) If the sponsor of a new teacher is someone that has worked with them before, we should be more willing to give them more responsibility. For example, letting them lead on a specialization.
2) If the sponsor has never worked with them before in a professional enviro

[2019-03-14 14:43] dominguezmaria commented on #13
Agree with your comment @hershaw! Going to add that on the guide lines.
Yey, we're good to go!! 😄

[2019-03-14 15:36] minhhoang1023 opened #16 "LDSSA Prep Course - Naming issue"
Hi everyone! We have a decision to make about the name of the course, because - in my opinion - it will influence the marketing and the position of the Academy regarding to it.

Here it goes:

Should we assume that it is (1) a Prep Course for the Academy (meaning that the niche will be targeting is more narrow and specific);

(2) approach it like an open-ended Python Course (although we are also t

[2019-03-14 16:01] minhhoang1023 opened #17 "LDSSA Prep Course - Financial help for students"
We need to decide to what extent we can offer help in terms of finance? There are several options as follows - feel free to suggest more:

1. Offer Dataquest promo code (we still need to wrap this up with Dataquest)
2. Subscribe to the team solutions ($25/month per user for Basic plan and $40 for premium plan)
3. Buy a few account and ask people to rotate between themselves (There are several draw

[2019-03-14 18:32] hershaw commented on #17
Would be very interested to hear what people have to say about this but I think that the students should have a bit of skin in the game as well as their own dataquest accounts.

My favorite option would be to give them a promo code that would allow for a discount. That way we can provide them with a bit of help / incentives to sign up while at the same time ensuring that they have made a small inv

[2019-03-14 22:33] ivopbernardo opened #18 "LDSSA Partnerships - Should we consider having hackathons with companies real world data?"
Hey everyone,

I would like to discuss the possibility of having companies real data on some hackathons (similar to kaggle challenges) nearing the end of the course. I am currently working on the value proposition for our partners and I would like to have your thoughts on this.

The format would be the following:
- 1 day / weekend hackathon with a business problem and data provided by one partner.

[2019-03-14 23:44] dominguezmaria commented on #13
The [Recruiting and Onboarding New Instructors](https://github.com/LDSSA/wiki/wiki/Recruiting-and-Onboarding-New-Instructors) document was updated, closing this issue!

Actually I can't! 😅
@PedroGFonseca , may you do the honours, please?

[2019-03-15 09:40] minhhoang1023 commented on #17
I agree with Sam on this. In this case we won't be restricted by the number of students we can accept.

[2019-03-15 10:56] dominguezmaria commented on #14
Agreed, and the "Instructors that vouch for this company" section seems a good solution for this.

I like better, and think it's a more transparent way of doing things, if we communicate all the job postings that we receive to the community. Then, the extra layer of having instructors vouching for the opportunity, guarantees that we are doing what the community expects from us: sharing our thought

[2019-03-15 11:12] dominguezmaria commented on #16
I feel that this should be:
* a preparation course for the Starters Academy
* where we will guide the participants through materials that will allow them to learn enough Python, Numpy, Linear Algebra and Git to be able to follow the Starters Academy
* ideally, the people participating in this course are doing so in order to prepare for the Starters Academy, but we should allow anyone to participat

[2019-03-15 11:19] dominguezmaria commented on #17
**Option 1**
How much discount does the promocode give? How much do students end up paying with this option?
At a first glance this seems the best option.

**Option 2**
Who pays to whom with this option?
Do students need to pay us and then we pay Dataquest? If so, I don't like this option much, as it gives us extra work that we probably don't want at this point.

**Option 3**
Really don't like thi

[2019-03-15 11:40] dominguezmaria commented on #18
@ivopbernardo , really glad that we're working towards making us closer to the companies. It's something we didn't have much time to work on before, so now it feels that we're growing up!

My thought on this are the following. Let's call these hackathons, _partnership hackathons_.

If we want to open a partnership hacakthon to the students of the current batch of the Starters Academy, then such ha

[2019-03-15 12:05] minhhoang1023 commented on #16
Thanks @chi for your thoughts! Taking into account your comments and Sam's, I would suggest the name: LDSSA Data science Prep Course.

1. By **LDSSA Prep Course**, we are stating that this is a preparation course specifically for the Starter Academy, like what @chi has explained excellently

2. By the word **Data Science**, we are opening up to a wider range of audience who is not aware of the Sta

[2019-03-15 14:05] ivopbernardo commented on #18
thank you @dominguezmaria, I am looking forward to help on that chapter and create a network of partners with the same mindset and values as the Academy!

.. and thank for your comments, that was the kind of input I was looking for 👍

You referred a really great point with the possibility of giving an option to a possible partner. In the value proposition what might be interesting to approach and

[2019-03-15 15:36] minhhoang1023 opened #19 "LDSSA Prep Course - Support during the course"
On how the course should work, I believe that we should be offering the following two methods of support. They are crucial to the course success, while at the same time won't require much commitment from us. But still I'd want to confirm with you all if we have enough resources to do so.

**1. Slack Q&A**: We create a Slack channel to answer specific questions related to Dataquest's challenges via

[2019-03-15 15:54] PedroGFonseca commented on #13
![](https://media.giphy.com/media/PcTzEWBzqiL5u/giphy.gif)

[2019-03-15 15:54] #13 closed, assigned to nobody

[2019-03-16 10:50] hershaw commented on #14
Great! @PedroGFonseca and @dominguezmaria, what do you think of adding the following to the guidelines:

## Job Sponsorship Level

Jobs postings that would involve working directly with members of the LDSA community are always preferred because that would mean that we have someone that we know sponsoring the job. However, since jobs can exist outside of this small group that may be very good, we s

[2019-03-16 10:53] hershaw commented on #11
Just went through these and I really do think that they would be a good thing to add to the guidelines. I'm going to add them into the wiki.

[2019-03-16 11:04] hershaw commented on #11
The page is updated, let me know if that looks okay @PedroGFonseca. I know that we should probably spend some more time to go through these, however since it's been a while without an update I think we should go with what we've got rather than leave this issue hanging for 6 months.

[2019-03-17 15:39] hershaw commented on #15
Let's go ahead and leave this issue open until we actually start the course.

[2019-03-17 15:46] hershaw commented on #16
Just here to echo the arguments put forth already. I agree that the course should be positioned as something whose purpose is to provide a path to success in our Starters Academy. If there were two names to chose from:

1. LDSSA Data Science Prep Course
1. LDSSA Prep Course

I would choose the **second one** because the "LDSSA" acronym already has Data Science in the name and it makes it a bit sho

[2019-03-17 15:48] hershaw commented on #17
We need to figure out the promo code thing! I'll open up a convo on slack about it since we have a few folks with contacts at data quest.

[2019-03-17 15:55] hershaw commented on #19
I think that both of these are a great idea @minhhoang1023!

I would suggest doing the following to close it up:

1. We let Carol know that we will provide these two methods of support so that she can use it in her marketing.
1. We create a spreadsheet that has slots for us to fill in for the duration of the course for the Q&A sessions as well as the live sessions. Then it is a matter of finding p

[2019-03-17 16:06] hershaw commented on #18
Great initiative @ivopbernardo!

@dominguezmaria's comments are spot on so I'll just add a few more specific comments:

1. When we prepare a particular dataset, we have a set of criteria for it that are very specific. It includes the number of categorical / numerical features, how big it should be, the kind of predictions, etc. so we always must find a dataset that fits the criteria so that it fit

[2019-03-19 16:44] ivopbernardo commented on #18
@hershaw thank you mr!

Well, I think that we actually should try that and pinpoint in the value prop the criteria of the possible datasets. When I start to speak with companies I should use that argument and "sell" them the opportunity of testing a recruiting methodology on the starters academy adding value to the learning process.

Otherwise, I really like the ideia of _partnership hackathons_ t

[2019-03-24 10:32] hershaw commented on #10
One small suggestion and then I'm totally cool to close this one:

In the "Deductive beats inductive" paragraph which is one of the most important ones, a relatable example would be great to include. I'd suggest adding the following paragraphs:

"For example, say that we are looking to teach calculus. We could first start with learning series, sequences, looking at a graph of y=x^2 in the abstract

[2019-03-25 13:10] PedroGFonseca commented on #10
Love it, and shall execute on it

[2019-03-26 10:18] HugoDLopes commented on #10
@PedroGFonseca @hershaw  one of the things I sell to applicants and I think it is quite true is that we advocate focussing on teaching things that are **useful** in the short-term - things that are broadly used in the industry **and** close to state of the art (not the things that are used in the industry and should have been replaced 10 years ago). This differentiates us from universities where t

[2019-03-26 10:48] hershaw commented on #10
I think you can use what he said pretty much word for word. Maybe we can also put it in quotes with his picture right next to it as well :-)

[2019-03-26 19:52] PedroGFonseca commented on #10
Accepted, and [altered accordingly](https://github.com/LDSSA/wiki/wiki/Teaching-Philosophy#9-practical-and-connected-to-the-real-world)

@HugoDLopes please confirm

[2019-03-26 22:26] HugoDLopes commented on #10
@PedroGFonseca spot on!

[2019-03-27 12:52] PedroGFonseca opened #20 "Call to action for Prep course"
Currently the prep course isn't properly communicated on our surfaces, and we don't have a clear call to action.

I'm contacting a number of people, and need:
- Updating the website to reflect the Python prep course
- Clarify the call to action that we should be pressing people to do

[2019-03-29 09:48] hershaw commented on #20
Link added above the fold.

[2019-03-29 09:48] #20 closed, assigned to nobody

[2019-03-30 17:53] PedroGFonseca commented on #17
We have a 50% off on DataQuest, is it viable/desirable to use Academy money to finance it further?

[2019-03-30 17:57] PedroGFonseca commented on #14
All for it. Who is owning this?

[2019-03-30 18:00] PedroGFonseca commented on #11
Seems good, the only caveat being that in the [example](https://github.com/LDSSA/wiki/wiki/Job-Posting-Approval-%5BWIP%5D#an-example) the questions aren't actually answered

[2019-03-30 18:02] #10 closed, assigned to nobody

[2019-03-30 18:03] PedroGFonseca commented on #8
Fixed, thanks!

[2019-03-30 18:03] #8 closed, assigned to nobody

[2019-03-30 18:04] PedroGFonseca commented on #4
Update: still working on chasing Tesoureiro. Not forgotten, just hard.

If anyone has leads, they are very welcome!

[2019-03-30 18:07] hershaw commented on #17
Do we already have to discount code that we can distribute to the students?

As far as helping finance it, we've decided against it.

[2019-03-30 18:08] PedroGFonseca commented on #17
This is the last we've heard from them, 12 days ago:

[code]

[2019-03-30 18:35] PedroGFonseca opened #21 "Project nudge"
**Context:** Our objective is to achieve at least a 1/3rd ratio of women in the Academy, without using the quotas.

**Initiative:** one of the initiatives to do this is for each of those who want to participate to “nudge” 4 women to sign up. This simply means that we take it upon ourselves to keep track of whether they take all of the steps, and remind/encourage them where necessary.

**How you ca

[2019-03-30 20:05] hershaw commented on #21
Count me in!

[2019-03-30 21:19] dominguezmaria commented on #21
Nice! Not sure if I can do 4, but I'll definitely try!

[2019-03-30 21:51] minhhoang1023 commented on #21
Most of women I know don't know Python so I am convincing them to take part in the Prep course. So I highly doubt that I can make it to 4... But I'll do my best!

[2019-04-03 12:28] KitCate opened #22 "Improving Student Success - Batch 2 Poll"
Hi everyone!

There is a new wiki page with the results from a poll sent to the 20 students from batch 2 that didn't graduate asking about the obstacles these students struggled with during the academy. We received 9 answers that were summarised and used to suggest changes/actions for future editions that would help prevent student dropout/non graduation.

It would be great to have feedback from e

[2019-04-03 15:54] jtascensao commented on #21
I will give it a try!

[2019-04-04 22:08] dominguezmaria commented on #22
Really good work on the poll, summarising the results and coming up with ideas! 👏

Just a minor suggestion on the poll: the measure on how much of the academy did the students complete could be translated into activities, together with the percentages.
Example: `10% or less` = `completed half of the SLUs`
This is because when I read 10%, I don't really know how much of the academy that really is :

[2019-04-07 17:02] KitCate commented on #22
Hi Chi!
Thanks a lot for the feedback, you were right on your suggestion :) I added more details on how the percentages were calculated and some charts considering separately each activity. I hope the info is clearer now.
Scheduling a meeting sounds great, I'll talk to you!

[2019-04-07 19:16] PedroGFonseca commented on #22
amazing work :)

[2019-04-07 19:18] PedroGFonseca commented on #12
Closing this for now, as seems to be resolving itself organically

[2019-04-07 19:18] #12 closed, assigned to hershaw

[2019-04-07 19:18] PedroGFonseca commented on #11
Can be closed, methinks

[2019-04-07 19:19] PedroGFonseca commented on #3
I suggest we close this as an issue, or give it a max time for comments

[2019-04-07 19:19] PedroGFonseca commented on #2
I suggest we close this as an issue, or give it a max time for comments

[2019-04-07 21:07] #11 closed, assigned to nobody

[2019-04-07 21:08] #3 closed, assigned to hershaw

[2019-04-07 21:10] hershaw commented on #2
To right. Been thinking a bit about it still and need to talk with you guys about it... I would like to keep it open as a reminder. Think that's okay or is it too dirty to leave an issue hanging around as a reminder?

[2019-04-09 09:43] PedroGFonseca commented on #2
Nah, it be cool

[2019-05-09 07:39] hershaw opened #23 "Wave 1 Retrospective"
So now that the Wave 1 test has been out in the world running for a bit, I've spoken to several students, reviewed the test with several instructors and we have started to come to the following consensus:

- The first wave test was too hard but that’s okay. Part of our mission is a commitment to excellence and this definitely pushed us in the right direction.
- We agree with we we can’t change any

[2019-05-09 08:04] hershaw opened #24 "Sam and Pedro gone for the weekend"
Soooooo, I'm getting married in a month and this weekend is the bachelor party (or "stag do", if you speak the strange island english). That means from Friday night until Monday morning I will not only be unavailable, but **entirely unable** to help with anything having to do with the Academy. You know what I mean.

So let's prepare ourselves for it!

- We need to close up Wave 1 and decide who is

[2019-05-09 09:43] PedroGFonseca commented on #23
I wrote this to try to avoid all doubts and clear edge cases:

--------------

Candidates from Wave 1 who took the test and failed will keep their application order after Wave 2 starts. That means that every such candidate will have priority over candidates from Wave 2.

This means that:
- Candidates from wave 1 who passed the test have priority over candidates from wave 1 who failed the test and

[2019-05-09 23:50] rjna commented on #23
I've just finished the exam. Just barely passed, using the full 3 hours and I've done wave 1 and 2 from 2018 in under 40 mins with all tasks completed. This exam is way way harder!

[2019-05-13 10:50] PedroGFonseca commented on #24
![](http://m.memegen.com/2e2vd4.jpg)

[2019-05-13 10:50] #24 closed, assigned to nobody

[2019-05-19 16:00] hershaw opened #25 "Closing up Applications"
# WARNING

Much of the code that these numbers are based upon are still under review and applications have not closed yet. However, most of the big trends are unlikely to change.

### Looks good so far!

There's a preliminary list of who has been accepted so far and the number is 50! We have 50 people so far that have gone through the process (24 that have actually paid) and be accepted! So by Wed

[2019-05-19 16:12] hershaw commented on #25
Okay so I might have been jumping the gun with saying that 7 hours before closing the general trends would probably not change. Since I wrote that, we've had like 20 people finish the test.

Sorry about that, stay tuned!

[2019-05-19 16:13] hershaw commented on #25
Also, let's hold out some hope that there are bugs in there that we just haven't found yes and the female numbers are wrong.

[2019-05-19 19:14] hershaw commented on #25
Okay the applications really are still coming in. Looks like we'll need to use the Quota 5 times so far.

[2019-05-19 21:04] hershaw commented on #25
So far we have a full 50 people in right now with an additional 31 people that passed but won't get a spot in the course. I think that last year we only had 1 or 2 people not get in because we reached capacity.

This is very flattering but also kind of a bummer. 31 people that cared enough to at least go through the test and pass it that won't get into the academy this time around. I think it migh

[2019-05-19 23:23] hershaw commented on #25
Okay so we've closed up registrations and final count is in. We had 31 people that passed wave 2 but didn't get in. 5 of them were due to the quota.

[2019-05-19 23:29] PedroGFonseca commented on #25
What... a... night. Great job Mr. Sam :)

[2019-05-20 00:23] HelderJorge commented on #25
Hello. Sorry to come in. I just navigated to this issue. 31 people that passed are out! I´m really scared. I really want to get in. When will we know our status?

[2019-05-20 11:35] hershaw commented on #25
Just a quick announcement: there were a total of 81 successful tests, and only 50 spots. This means that whether those tests got in are dependent on the timestamp and the quota.

If you are not in the top 50, it does not yet mean you are out, but you may be dependent on someone in the top 50 not taking up their spot (which does happen). It is the first time we've been this oversubscribed, and I wi

[2019-05-20 15:25] hershaw opened #26 "Ad-hoc academy"
dear academy peeps,

We have 31 people that qualified but won't be able to make it into the Academy. That's enough for a community. I'm wondering if we can get a group of 3 or 4 of them to organize a sidecar academy where they use the open-source material and just run as similar-as-possible course that lags behind a month or so from batch3.

Right now there are so many people that want in and aren

[2019-05-20 15:32] PedroGFonseca commented on #26
My 2 ~cents~ ~dragons~ lizards:

We are going to be stretched close to capacity, but it would indeed be cool to have them self-organize.

Suggested:
1. We try to get someone from last year's alumni to take this up
2. A few applicants take the initiative of managing this day to day  (we can live stream the talks maybe?)
3. We invite them to the community events, but don't do much more than that

Th

[2019-05-20 15:36] hershaw commented on #26
agreed, we don't have any additional resources to spend on this. they would have to do it themselves.

Why someone from last year alum and not someone from the group that just applied? would probably be a lot easier to recruit from there and stay involved.

[2019-05-20 16:09] PedroGFonseca commented on #26
The logic for the alumni is just that they've gone through it, so would make better "informal instructors"

[2019-05-21 08:39] hershaw commented on #26
I've spoken to a few of the students that didn't get in so far. I have one, possibly two so far that are interested in organizing an ad-hoc academy. more news as soon as I have it.

[2019-05-21 08:40] hershaw commented on #26
After this happens, I'll try to reach out to some Alum from batch2.

[2019-05-25 19:26] PedroGFonseca opened #27 "Should we have separate brands for the LDSSA (Academy), and the LDSSA (Course)?"
We currently have two brands, LDSA, and LDSSA.

However they are currently indistinguishable in the minds of students (and often our own).

Should these brands be perhaps defined as something a bit more separate, for instance by re-branding one of them?

Also, should they have separate logos?

[2019-05-25 19:38] thecarolmartins commented on #27
I believe it depends on the purpose we want for each.

I would suggest rebranding the one we have - becoming the core one - with a slight adaptation for the LDSSA. It might be a change of color and adding the “Starters”.

If we divide the logos and make them too different without creating a flow between them, it will confuse people because the real difference is “minimal” (the word Starters) and p

[2019-05-26 14:48] hershaw commented on #27
it's true that most people use the brands interchangeably when talking about them. we should fix it and, as carol mentioned, what the nature of the connection between them should be. then we can have some guidelines on how similar to make the brand.

Is also dependent on wrapping up the vision part mentioned in #2 of which work is in progress.

[2019-05-26 14:52] hershaw commented on #2
Just dropping in a note to say that I'm having several ongoing conversations about what the vision should be. Not sure when we'll be available for the next update but hopefully the conversations start to converge.

[2019-05-28 15:16] ivopbernardo opened #28 "Course-end hackathon and wrap-up event"
Hi everyone,

We are coming back to this idea lately but I would like to discuss it with everyone. What do you think of doing a big course-end hackathon in February or March? Mainly this would consist of a hackathon with teams of graduates, teachers and partners (the ones that lent us the space during the academy) where we would get everyone together and wrapped-up the entire course.

Arguments fo

[2019-05-28 17:46] thecarolmartins commented on #28
This would be a great opportunity to (1) serve our mission; (2) make something different; (3) put students interaction with actual companies; (4) create and develop new relationships between the Academy and companies.

I believe this event should be in "neutral ground" and needs pre-planning to understand the implications of creating such an event. I'm biased but I think is totally awesome and hug

[2019-05-28 18:16] hershaw commented on #28
Fully support the idea! Will be a great way to tie everything together that's really fun!

[2019-06-13 22:35] minhhoang1023 opened #29 "Prep Course Retrospective"
As this is the first time we organized the Data Science Prep course, a retrospective would be very useful to know what went well and what could be better. Though there are a few lessons to learn from here and there, the course went pretty well and I am super happy that we have helped quite a few people to enter a whole new career path that they might have not been able to. So thank you everyone fo

[2019-06-14 09:21] hershaw commented on #29
Nice retrospective Minh! Thanks so much for putting it together! I've got a few comments:

- The course should be MUCH harder. I think that DataQuest will probably not be a good fit for us because their business model (monthly subscription) makes it difficult for them to make the courses as hard as they probably should be since the harder it is, the more people that drop dataquest, the less money

[2019-06-14 09:23] hershaw commented on #26
So this didn't happen. bummer sauce, we'll work on it for next time.

[2019-06-14 09:23] #26 closed, assigned to nobody

[2019-06-14 09:23] #23 closed, assigned to nobody

[2019-06-14 09:24] #21 closed, assigned to nobody

[2019-06-14 09:24] #19 closed, assigned to nobody

[2019-06-14 09:25] hershaw commented on #18
How you feeling about this issue @ivopbernardo ? Should we keep it open? Remember that even if we close it, we can still find it and bring it back :)

[2019-06-14 09:26] #2 closed, assigned to hershaw

[2019-06-14 09:26] #4 closed, assigned to hershaw

[2019-06-14 09:26] #6 closed, assigned to hershaw

[2019-06-14 09:26] #14 closed, assigned to nobody

[2019-06-14 09:26] #15 closed, assigned to nobody

[2019-06-14 09:26] #16 closed, assigned to nobody

[2019-06-14 09:26] #17 closed, assigned to nobody

[2019-06-14 09:26] #25 closed, assigned to nobody

[2019-06-14 19:06] ivopbernardo commented on #18
For me, case closed @hershaw! We kinda got it solved by thinking about a final year hackathon. If any other event idea (outside the academy) comes up in the meantime we will open this again.

[2019-06-14 19:10] #18 closed, assigned to nobody

[2019-06-15 11:02] minhhoang1023 commented on #29
Thanks for the comment, Sam!

1. While Dataquest is a natural and good option to get started, it does not meet our requirements for the Academy, mostly because the exercises are too easy and come with step-by-step instructions. So I agree that we should create our own course next year, which should be very similar to the course you taught at Nova! This will give us the flexibility to adjust how ha

[2019-06-15 13:59] PedroGFonseca commented on #29
Outstanding retrospective indeed (and congratulations on the results)!

I'm personally pro having our own set of content, especially as it would allow us to open source it and help anyone who wants to learn (DataQuest is not expensive, but the act of payment may still block some people). And indeed the level of difficulty of the materials needs to go up.

I'd challenge the idea that the test was t

[2019-06-15 14:03] PedroGFonseca commented on #14
@hershaw I know you closed it, but I'm still curious as to my previous question😅

[2019-06-15 14:05] PedroGFonseca commented on #26
I think it's for the best. We need to make this excellent for the 50, and anything else needs to come from someone else (students self organising would be a dream)

[2019-06-15 14:07] PedroGFonseca commented on #28
Absolutely all for it. This would actually be the perfect setting for the long-dreamed-of job fair :)

[2019-06-15 15:29] ivopbernardo commented on #28
Awesome, I'll pitch it up to our partners on the next meetings. Thank you everyone!

[2019-06-15 15:29] #28 closed, assigned to nobody

[2019-06-19 22:01] dominguezmaria commented on #29
@minhhoang1023 really nice retrospective :)

I think you guys have already mentioned the important points:
- Dataquest was waaay too easy
- Using custom content would be the ideal way to move forward
- Next time around we should have the exam ready before hand, so that the course can properly prepare the students for it
- It's important to understand how many of the prep course students are going

[2019-06-20 06:33] hershaw opened #30 "Podcast"
Here is a proposal for a podcast by Carol. From my end it looks good but I don't know anything about podcasts so some more feedback would be excellent!

https://docs.google.com/document/d/1Q3LLeMC57uvr7umbdCibxhhKlFOrUmcJ3Kt0lc5kq4E/edit?usp=sharing

[2019-06-20 07:16] manuelfcreis commented on #30
Hey!

I think it's looking great. I have a couple of comments, by topic:

## Marketing:

- I feel like once a month could possibly be too little. Most podcasts/shows start-out with a fortnightly schedule.
- How will the podcast be distributed? Should we account for promoted posts on social media for example? Will it be exclusively word of mouth?

## Production

- Who will be the host?
- Who will b

[2019-06-20 09:32] thecarolmartins commented on #30
Hi Manuel!

Thanks for your feedback. It’s super useful to know that you have podcast knowledge :)

**Disclamer: I’m writing from my phone - sorry for typos and the crappy formatting**

Here are some answers:

*Feedback: I feel like once a month could possibly be too little.*
We know, but it’s not realistic for the team to assume a higher rate of episodes, unfortunately. Personally, I would love t

[2019-06-20 10:50] ivopbernardo commented on #30
Awesome idea @thecarolmartins. I really feel that this is a spot yet to be filled in the portuguese DS landscape.

Regarding the podcast structure, having the main topic and the hackathon's highlights with the instructor might lead to the same "discussion". This is, the instructor may naturally talk about the hackathon during the topic discussion and the podcast may get convoluted.

Is it feasible

[2019-06-20 10:53] ivopbernardo commented on #30
Also, maybe we can fit in there more special editions with partners 😁

[2019-06-20 12:37] thecarolmartins commented on #30
Thanks @ivopbernardo! About the highlights, maybe I didn’t explain myself clearly - sometimes I forget that people can’t read my mind lol.

What I was thinking of doing is: talking and interviewing (briefly) students and instructors. It’s not about the learning part, but rather the experience, the challenges, the fun part, the winners, the tactics, the fun. What I would like to replicate in audio

[2019-06-20 12:44] thecarolmartins commented on #30
And oh, I forgot to mention - yes for the partners part. @hershaw what’s your input on this? Could we have a small break during the episode (maybe before the Hackathon Highlights), saying something like “This Hackathon was brought to you directly from XYZ. XYZ is a company that bla bla bla. Thank you for supporting our mission of <insert LDSA mission>.

This could be a good way to promote our miss

[2019-06-21 19:20] hershaw opened #31 "Onboarding wiki page"
https://github.com/LDSSA/wiki/wiki/Batch3-Student-Onboarding

Here's the first draft. Anything that anyone wants to add?

[2019-06-22 08:17] dominguezmaria commented on #31
We could add the following:
1. Catarina Freitas (@catarinacf), who is in charge of student success, is a very good point of contact too! Just to give an example, last time we talked, we thought about having study groups on the days before the hackathons, and since I won't be in person in all of them, she is a very good backup contact in that case.
2. Another important item in "Important stuff to d

[2019-06-22 09:20] minhhoang1023 commented on #29
@dominguezmaria Great comments! Yours pretty much summed up the main lessons for next year :)

I talked to some students and they also have the same view on the exam difficulty. The first one is hard, but not because of the question itself. If we can have the difficulty level of first wave with the structure of the second wave (e.g. partial credits, meaningful feedback), it would be just right.

[2019-06-22 10:47] hershaw commented on #29
Well done with this retrospective everyone! This thread will be invaluable for next year so let's remember that it exists :)

[2019-06-24 10:12] manuelfcreis commented on #30
**Hackathon Highlights

So what I meant with the hackathon highlights was a couple of things, I’ll try make my reasoning a bit more clear:

- Listening to people talk about a hackathon may be a bit boring, specially if they’re discussing strategies of something you haven’t participated in
- Maybe a way of both **engaging** our audience and creating a community is to open up the hackathons. This wo

[2019-06-27 15:53] hershaw opened #32 "Bootcamp Schedule"
# Batch3 Bootcamp Schedule

Here's the schedule. Anyone see any issues with it?

## Saturday (July 6th)

- 8h00 - arrival, breakfast, student setup
- 8h45 - welcome, kickoff, meet the team- Sam Hopkins
- 9h00 - SLU01 - Pandas 101
- 10h00 - SLU02 - Subsetting Data in Pandas
- 11h00 - SLU03 - Visualization with Pandas and Matplotlib
- 12h00 - Lunch
- 13h00 - SLU04 - Basic Stats with Pandas
- 14h00 -

[2019-07-02 09:31] hershaw commented on #32
Added this to the wiki so I'll close the issue for now

[2019-07-03 12:47] PedroGFonseca commented on #32
Pretty perfect! Couple of quick suggestions:

1. shall we do `8h45 - welcome, kickoff, meet the team- Sam Hopkins` at 8:30? That would leave a bit of a cushion and help the SLUs start on time.

2. Also maybe having a bathroom break at 11h00, making SLU03 start at 11:10, and lunch at 12:10?

[2019-07-03 13:00] hershaw commented on #32
1. I wanted to have extra time before the official start in case there are some snafus with people getting into the building / getting setup and comfortable. what do you think of the reasoning?
2. I think that since they have kind of defacto bathroom breaks during each SLU because 45 minutes of it is do whatever you want that it won't be necessary. plus everyone will have full energy from it being

[2019-09-19 19:04] #5 closed, assigned to hershaw

[2019-09-19 19:04] #22 closed, assigned to nobody

[2019-09-19 19:04] #27 closed, assigned to nobody

[2019-09-19 19:04] #30 closed, assigned to nobody

[2019-09-19 19:04] #31 closed, assigned to nobody

[2019-09-19 19:04] #32 closed, assigned to nobody

[2019-10-19 12:33] hershaw opened #33 "Champalimaud employees participate in next hackathon?"
hey party people! we’ve got an interesting situation on our hands! The Champalimaud (or however you spell it) people are wanting to do the hackathon with us! that would mean having some teams on the leaderboard that are not subject to actually winning it. Or we could have another leaderboard separate just for them (as long as it’s not too hard for @hcastilho to implement it).

I personally like ha

[2019-10-20 01:36] PedroGFonseca commented on #33
Not opposed in theory, however it kind of feels like something we should have offered the other companies that gave us the space. Is this something we intend to offer in future?

TLDR: not against it, but would rather it were a policy rather than an ad-hoc call

[2019-10-20 10:17] hcastilho commented on #33
This means they have to register in the portal and creating those teams by hand.
And in the future filtering those users so they don't appear mixed with the students, or deleting them after the hackathon.

[2019-10-20 12:19] ivopbernardo commented on #33
@PedroGFonseca totally. I pitched it to our other partners only lightly - nothing formal or even stated in our value prop so I would not consider that other partners were aware. This was something adhoc asked from Champalimaud because they have recently founded a Data Science club inside Champalimaud and wanted to start have a hands-on experience apart from conferences and talks.

If we decide to

[2019-10-21 11:36] hcastilho commented on #33
So, is it ok to delete the users after the hackathon?
Also, do we know how many they will be?

There's no easy way to create ad-hoc teams so I want to have a look at this issue beforehand.

[2019-10-26 19:13] hershaw commented on #33
Yeah I think it's fine to include them in the normal leaderboard and then delete then afterward.

@PedroGFonseca I'm a bit worried that I'm missing something here because I'm quite excited about the idea and think that it's be a great experience for everyone involved, which is a far cry from "I'm not against it". I agree that it should be a policy though and am happy to write one so if you think i

[2019-10-26 20:13] gaborsomogyi commented on #33
What I think we'll need:
- add them to the portal, assign them to separate teams (Hugo does it)
- explain them the process (I guess it's part of each hackathon, but for them it will be the first, so it would be useful to go a bit more into details on how the portal works, how submissions work and all the very basics)

Since the hackathon submission is only about uploading a file regardless of how

[2019-10-26 20:36] hershaw commented on #33
Do you think we have enough time to figure it out tomorrow morning on the spot? If not no worries, we can figure a workaround

[2019-10-26 20:42] gaborsomogyi commented on #33
I'm pretty sure it's possible to do it all tomorrow morning

[2019-10-26 23:26] PedroGFonseca commented on #33
Oh, to clarify, I'm for it. I just want to make sure we take the opportunity to make it  a policy and not a one off, that's all :)

[2019-11-07 12:40] #33 closed, assigned to nobody

[2020-07-13 19:39] hershaw opened #34 "Batch4 Boot Camp Operations"
If I'm missing anything, leave a comment and let me know!

## What

This is meant to discuss a plan of action for pulling off the bootcamp on July 18th and 19th, 2020.

## TODO

### Get everyone on Slack

- Once on slack distribute the batch4-students repo and ask them to do the setup

### Make the welcome presentation

And update the batch4-students repo.

### Make the the schedule

Should be on

[2020-07-13 20:43] hershaw opened #35 "Bootcamp Presentation Format"
So I'm thinking that we can have a single zoom room where we give the presentations. Something else that would allow for questions would also be great as well (slido?)

And then for rooms that require smaller numbers (like 5-10 people) we can use google meet. We can encourage instructors AND students to use the video conferencing tech that's most accessible to them. But if instructors are doing so

[2020-07-13 21:20] minhhoang1023 commented on #35
Zoom has a very nice feature that would allow us to create side-meetings ([breakout rooms](https://support.zoom.us/hc/en-us/articles/206476313-Managing-breakout-rooms#:~:text=Participants%20in%20breakout%20rooms%20can,room%20to%20join%20the%20room.)). I believe the instructor-sponsored room would fit nicely under this feature. Hangout would work fine too, but with this, everything will happen in Z

[2020-07-14 08:54] CatarinaSilva commented on #34
I'm taking care of slido events, just need the final dates of all SLUs

[2020-07-14 14:35] hershaw commented on #35
![image](https://user-images.githubusercontent.com/424192/87438593-a552b680-c5e7-11ea-8b09-4091a700832d.png)

ah it looks like we'd have to manually assign people to the breakout rooms - I don't think that people can just join and leave at will.

[2020-07-14 14:56] minhhoang1023 commented on #35
I thought the same at first! But in one support article, it mentioned that we could broadcast a message telling everyone that they could join the Breakout room.

![image](https://user-images.githubusercontent.com/40023817/87440607-11ceb500-c5ea-11ea-904b-3427826d60da.png)

[2020-07-14 14:58] hershaw commented on #35
if this works, that would be great! I'm going to pay for Zoom and get it all set up for an experiment. This would be so great if it works!

[2020-07-14 15:01] minhhoang1023 commented on #35
I know right! If it works, I seriously will need to buy some Zoom stocks for its awesomeness

[2020-07-14 18:35] hershaw commented on #35
okay Ivo and I just did a test and it looks like the breakout rooms don't work quite like that :-( You can't go in and out of them at will, you get assigned to one and that's the only one you have access to.

So I'm thinking that we actually just use hangouts. We can have just a single hangout that is the "lobby" and we leave hangout links on each of the calendar events where people can go to disc

[2020-07-15 13:38] minhhoang1023 commented on #35
Sounds good!

For the unsolved issue, not ideal, but I could log in all the rooms in advance and just stay idle there. Or there needs to be someone actively admits people?

[2021-03-21 13:13] Juliana-R opened #36 "Redundant repo"
We already have a place for general issues, it's the Wiki. Shall we delete this repo? @hershaw

[2021-03-21 16:13] PedroGFonseca commented on #29
Getting some closure.
@Juliana-R if there are things from this issue that should go into Batch 5 please add them as separate issues.

[2021-03-21 16:13] #29 closed, assigned to nobody

[2021-03-21 16:13] PedroGFonseca commented on #34
CLOSE ALL THE THINGS!

[2021-03-21 16:13] #34 closed, assigned to hershaw

[2021-03-21 16:13] PedroGFonseca commented on #35
Cleaning up, if there are any unclosed parts to this please feel free to re-open

[2021-03-21 16:13] #35 closed, assigned to hershaw

[2021-03-21 16:13] PedroGFonseca commented on #36
First day of spring: spring cleaning

[2021-03-21 16:13] #36 closed, assigned to nobody